{#{% dd element.layout %}#}

<h3>grid-column-start: x, grid-column-end: x, grid-row-start: y, grid-row-end: y</h3>
<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 5px;">
  <div style="grid-column: 1 / 2; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  {% if not element.layout.empty %}
    <div style="grid-column-start: {{ element.layout.gridColumnStart }}; grid-column-end: {{ element.layout.gridColumnEnd }}; grid-row-start: {{ element.layout.gridRowStart }}; grid-row-end: {{ element.layout.gridRowEnd }}; background-color: rgba(14,114,159,0.6);"></div>
  {% endif %}
</div>

<h3>grid-column: x / span x, grid-row: y / span y</h3>
<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 5px;">
  <div style="grid-column: 1 / 2; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  {% if not element.layout.empty %}
    <div style="grid-column: {{ element.layout.gridColumnStart }} / span {{ element.layout.gridColumnSpan }}; grid-row: {{ element.layout.gridRowStart }} / span {{ element.layout.gridRowSpan }}; background-color: rgba(14,114,159,0.6);"></div>
  {% endif %}
</div>

<hr>

<p><b>Value:</b> <code><pre style="white-space: pre-wrap;">{{ element.layout|json_encode }}</pre></code></p>
<p><b>Empty:</b> {{ element.layout.empty|json_encode }}</p>
{% if not element.layout.empty %}
  <p><b>Raw:</b> {{ element.layout.raw }}</p>
  <p><b>gridColumnStart:</b> {{ element.layout.gridColumnStart }}</p>
  <p><b>gridColumnEnd:</b> {{ element.layout.gridColumnEnd }}</p>
  <p><b>gridRowStart:</b> {{ element.layout.gridRowStart }}</p>
  <p><b>gridRowEnd:</b> {{ element.layout.gridRowEnd }}</p>
  <p><b>gridColumnSpan:</b> {{ element.layout.gridColumnSpan }}</p>
  <p><b>gridRowSpan:</b> {{ element.layout.gridRowSpan }}</p>
  <p><b>selectedRows:</b> {{ element.layout.selectedRows|json_encode }}</p>
  <p><b>selectedColumns:</b> {{ element.layout.selectedColumns|json_encode }}</p>
  <p><b>selectedCoordinates:</b> {{ element.layout.selectedCoordinates|json_encode }}</p>

  {% set result = gql('{
  entries(type: "products") {
    ... on products_products_Entry {
      featuredProducts {
        __typename
      }
      layout {
        empty
        gridColumnStart
        gridColumnEnd
        gridRowStart
        gridRowEnd
        gridColumnSpan
        gridRowSpan
        selectedColumns
        selectedRows
        selectedCoordinates
      }
    }
  }
}') %}

  <p><b>GQL Results:</b> {{ result.data.entries[0].layout|json_encode }}</p>
{% endif %}

{% set columnStartClasses = {
  1: 'col-start-1',
  2: 'col-start-2',
  3: 'col-start-3',
  4: 'col-start-4',
  5: 'col-start-5',
  6: 'col-start-6',
} %}
{% set columnSpanClasses = {
  1: 'col-span-1',
  2: 'col-span-2',
  3: 'col-span-3',
  4: 'col-span-4',
  5: 'col-span-5',
  6: 'col-span-6',
} %}
{% set rowStartClasses = {
  1: 'row-start-1',
  2: 'row-start-2',
  3: 'row-start-3',
  4: 'row-start-4',
  5: 'row-start-5',
  6: 'row-start-6',
} %}
{% set rowSpanClasses = {
  1: 'row-span-1',
  2: 'row-span-2',
  3: 'row-span-3',
  4: 'row-span-4',
  5: 'row-span-5',
  6: 'row-span-6',
} %}

{% set myAttributes = {
  class: [
    columnStartClasses[element.layout.gridColumnStart],
    columnSpanClasses[element.layout.gridColumnSpan],
    rowStartClasses[element.layout.gridRowStart],
    rowSpanClasses[element.layout.gridRowSpan],
  ],
} %}

<div {{ attr(myAttributes) }}></div>

{# Results look like this: <div class="col-start-1 col-span-3 row-start-1 row-span-2"></div> #}