{#{% dd element.layout %}#}

<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 5px;">
  <div style="grid-column: 1 / 2; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  {% if not element.layout.empty %}
    <div style="grid-column-start: {{ element.layout.grid.columnStart }}; grid-column-end: {{ element.layout.grid.columnEnd }}; grid-row-start: {{ element.layout.grid.rowStart }}; grid-row-end: {{ element.layout.grid.rowEnd }}; background-color: rgba(14,114,159,0.6);"></div>
  {% endif %}
</div>

<hr>

<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 5px;">
  <div style="grid-column: 1 / 2; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 1 / 2; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 2 / 3; height: 30px; background-color: #6f777a;"></div>

  <div style="grid-column: 1 / 2; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 2 / 3; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 3 / 4; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 4 / 5; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 5 / 6; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  <div style="grid-column: 6 / 7; grid-row: 3 / 4; height: 30px; background-color: #6f777a;"></div>
  {% if not element.layout.empty %}
    <div style="grid-column: {{ element.layout.grid.columnStart }} / span {{ element.layout.grid.columnSpan }}; grid-row: {{ element.layout.grid.rowStart }} / span {{ element.layout.grid.rowSpan }}; background-color: rgba(14,114,159,0.6);"></div>
  {% endif %}
</div>

<hr>

<p><b>Value:</b> <code><pre style="white-space: pre-wrap;">{{ element.layout|json_encode }}</pre></code></p>
{{ element.layout.raw|json_encode }}
{{ element.layout.empty|json_encode }}
{{ element.layout.grid|json_encode }}
{% if not element.layout.empty %}
  <p><b>Raw:</b> {{ element.layout.raw }}</p>
  <p><b>Grid columnStart:</b> {{ element.layout.grid.columnStart }}</p>
  <p><b>Grid columnEnd:</b> {{ element.layout.grid.columnEnd }}</p>
  <p><b>Grid rowStart:</b> {{ element.layout.grid.rowStart }}</p>
  <p><b>Grid rowEnd:</b> {{ element.layout.grid.rowEnd }}</p>
  <p><b>Grid columnSpan:</b> {{ element.layout.grid.columnSpan }}</p>
  <p><b>Grid rowSpan:</b> {{ element.layout.grid.rowSpan }}</p>
{#  <p><b>Selected rows:</b> {{ element.layout.selected.rows|json_encode }}</p>#}
{#  <p><b>Selected columns:</b> {{ element.layout.selected.columns|json_encode }}</p>#}
{#  <p><b>Selected columns:</b> {{ element.layout.selected.coordinates|json_encode }}</p>#}

{#  {% set result = gql('query {#}
{#    entries(type:"products") {#}
{#      title#}
{#      ... on products_products_Entry {#}
{#        layout {#}
{#          empty#}
{#        }#}
{#      }#}
{#    }#}
{#  }') %}#}

{#  {% if result.data %}#}
{#    {% dd result.data.entries[0].layout|json_encode %}#}
{#  {% endif %}#}
{#  {% dd result|json_encode %}#}

  {#{% for entry in result.data %}#}
  {#  <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>#}
  {#  <p class="timestamp">{{ entry.postDate }}</p>#}

  {#  {% set image = entry.featuredImage[0] %}#}
  {#  <img class="thumb" src="{{ image.url }}" alt="{{ image.altText }}">#}

  {#  {{ entry.shortDescription|markdown }}#}
  {#  <p><a href="{{ entry.url }}">Continue reading…</a></p>#}
  {#{% endfor %}#}
{% endif %}

{% set entries = craft.entries.layout(':notempty:').all() %}
<p><b>Entries that have a layout set:</b></p>
<ul>
  {% for entry in entries %}
    <li>{{ entry.title }}</li>
  {% endfor %}
</ul>