{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Little Layout plugin for Craft CMS
 *
 * Layout Field Settings
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2021 Will Browar
 * @link      https://wbrowar.com
 * @package   LittleLayout
 * @since     1.0.0
 */
#}

{#{% js assets.js %}#}
{#{% css assets.css %}#}

<div
  data-little-layout="{{ namespacedId }}"
  data-field-type="settings"
  data-cols="{{ field.cols }}"
  data-default-value="{{ field.defaultValue }}"
  data-rows="{{ field.rows }}"
></div>

<input data-little-layout-placeholder="{{ namespacedId }}" type="hidden" name="defaultValue" autofocus="" autocomplete="off" value="{{ field.defaultValue }}">

{% do craft.app.view.registerJs(registerJs) %}